terraform/modules/improvement/asl/eval.asl.json.tftpl
{
  "Comment": "ai-dlc eval runner — runs the case set through the live SDLC pipeline.",
  "StartAt": "LoadCases",
  "QueryLanguage": "JSONata",
  "States": {
    "LoadCases": {
      "Type": "Task",
      "Resource": "${eval_runner_function_arn}",
      "Arguments": {
        "op": "load_cases",
        "override_cases": "{% $exists($states.input.override_cases) ? $states.input.override_cases : null %}",
        "tier_filter": "{% $exists($states.input.tier) ? $states.input.tier : null %}"
      },
      "Output": {
        "cases": "{% $states.result.cases %}"
      },
      "Next": "RunCases"
    },
    "RunCases": {
      "Type": "Map",
      "MaxConcurrency": ${max_concurrency},
      "Items": "{% $states.input.cases %}",
      "ItemSelector": {
        "case": "{% $states.context.Map.Item.Value %}"
      },
      "Output": {
        "results": "{% $states.result %}"
      },
      "ItemProcessor": {
        "ProcessorConfig": { "Mode": "INLINE" },
        "StartAt": "StartRun",
        "States": {
          "StartRun": {
            "Type": "Task",
            "Resource": "${eval_runner_function_arn}",
            "Arguments": {
              "op": "start_run",
              "project_slug": "{% $states.input.case.project_slug %}",
              "intent": "{% $states.input.case.intent %}"
            },
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "Next": "MarkRunFailed",
                "Output": {
                  "case": "{% $states.input.case %}",
                  "error": "{% $states.errorOutput %}"
                }
              }
            ],
            "Output": {
              "case": "{% $states.input.case %}",
              "run_id": "{% $states.result.run_id %}"
            },
            "Next": "Wait"
          },
          "Wait": {
            "Type": "Wait",
            "Seconds": 30,
            "Output": {
              "case": "{% $states.input.case %}",
              "run_id": "{% $states.input.run_id %}"
            },
            "Next": "CheckStatus"
          },
          "CheckStatus": {
            "Type": "Task",
            "Resource": "${eval_runner_function_arn}",
            "Arguments": {
              "op": "check_run_status",
              "run_id": "{% $states.input.run_id %}"
            },
            "Output": {
              "case": "{% $states.input.case %}",
              "run_id": "{% $states.input.run_id %}",
              "current_state": "{% $states.result.current_state %}",
              "terminal": "{% $states.result.terminal %}"
            },
            "Next": "IsTerminal"
          },
          "IsTerminal": {
            "Type": "Choice",
            "Choices": [
              {
                "Condition": "{% $states.input.terminal = true %}",
                "Output": {
                  "case": "{% $states.input.case %}",
                  "run_id": "{% $states.input.run_id %}"
                },
                "Next": "Evaluate"
              }
            ],
            "Default": "Wait"
          },
          "Evaluate": {
            "Type": "Task",
            "Resource": "${eval_runner_function_arn}",
            "Arguments": {
              "op": "evaluate_result",
              "case": "{% $states.input.case %}",
              "run_id": "{% $states.input.run_id %}"
            },
            "Output": {
              "case_slug": "{% $states.input.case.slug %}",
              "run_id": "{% $states.input.run_id %}",
              "passed": "{% $states.result.passed %}",
              "failures": "{% $states.result.failures %}",
              "metrics": "{% $states.result.metrics %}"
            },
            "Next": "Record"
          },
          "Record": {
            "Type": "Task",
            "Resource": "${eval_runner_function_arn}",
            "Arguments": {
              "op": "record_result",
              "case_slug": "{% $states.input.case_slug %}",
              "run_id": "{% $states.input.run_id %}",
              "passed": "{% $states.input.passed %}",
              "failures": "{% $states.input.failures %}",
              "metrics": "{% $states.input.metrics %}"
            },
            "Output": {
              "case_slug": "{% $states.input.case_slug %}",
              "passed": "{% $states.input.passed %}"
            },
            "End": true
          },
          "MarkRunFailed": {
            "Type": "Pass",
            "Output": {
              "case_slug": "{% $states.input.case.slug %}",
              "passed": false,
              "failures": ["start_run failed"]
            },
            "End": true
          }
        }
      },
      "Next": "Aggregate"
    },
    "Aggregate": {
      "Type": "Task",
      "Resource": "${eval_runner_function_arn}",
      "Arguments": {
        "op": "aggregate_results",
        "results": "{% $states.input.results %}"
      },
      "End": true
    }
  }
}
